/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    padding: 20px;
    row-gap: 20px;
}

.navigation {
    /* background-color: #1FAB89; */
    background-color: #6900FF;
    border-radius: 10px;
}

.navigationOptions {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    font-size: 18px;
    color: white;
    column-gap: 10px;
}

.navigationOptions li {
    padding: 5px 10px;
}

.navigationOptions .right-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigationOptions li:last-child {
    justify-self: end;
}

.navigationOptions a {
    color: white;
    text-decoration: none;
}

.navigationOptions a:visited {
    color: white;
}

.navigationOptions .not-empty-cart {
    /* display: inline-block; */
    /* min-width: 10px; */
    /* padding: 3px; */
    /* border-radius: 5px; */
    /* text-align: center; */
    border-radius: 5px;
    /* background: #FDB827; */
    /* background: #FCE38A; */
    background: #FDB827;
}

.container {
    padding: 30px;
}

.center {
    text-align: center;
}

.heading {
    font-size: 20px;
    font-weight: 600;
}

.subtitle {
    font-size: 20px;
}

.login-form {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 auto;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.login-form .fields-group {
    width: 100%;
}

.login-form .input-field {
    height: 30px;
    width: inherit;
	border-radius: 10px;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
	font-size: 15px;
    padding: 0px;
    margin-bottom: 3px;
}

.btn {
    width: inherit;
    margin: 0 auto;
}

.login-form .btn {
    height: 30px;
    border-style: none;
    background-color: #50CB93;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}

.hint {
    color: grey;
    font-size: 15px;
}

.products-layout {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 20px;
    padding: 20px 10px 20px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    height: min-content;
}

.products .heading {
    text-transform: capitalize;
}

.products .outlet {
    width: inherit;
    /* background-color: #50CB93; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.products .paggination {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
}

.products .paggination button {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-style: none;
    background-color: #6900FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.products .paggination button.current-page {
    height: 40px;
    width: 40px;
    background-color: #1FAB89;
    color: white;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.sidebar .grid {
    display: grid;
    height: min-content;
    grid-auto-rows: minmax(min-content, max-content);
    padding: 20px;
    grid-template-columns: 1fr;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    row-gap: 20px;
    /* background-color: #676FA3; */
    /* background-color: #6900FF; */
    /* color: white; */
}

.sidebar .grid .options {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* background-color: #FAF7FF; */
    color: black;
}

.sidebar .grid .options .title {
    padding: 12px;
    border-bottom: solid 1px lightgray;
    font-weight: 400;
    font-size: larger;
    text-transform: capitalize;
}

.sidebar .grid .options .title:last-child {
    border-bottom:none;
    margin-bottom:0;
}

.sidebar .grid .options .chosen {
    background-color: #1FAB89;
    color: white;
}

.sidebar .grid .options li:first-child.chosen {
    border-radius: 10px 10px 0 0;
}

.sidebar .grid .options li:last-child.chosen {
    border-radius: 0 0 10px 10px;
}

.sidebar .grid .options li:only-child.chosen {
    border-radius: 10px;
}

.card {
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: grid;
    height: 350px;
    grid-auto-rows: repeat(4, minmax(min-content, max-content)) max-content;
    grid-template-columns: 1fr;
    row-gap: 10px;
    color: black;
    background-color: white;
}

.card .image {
    padding: 20px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    justify-self: center;
    border-bottom: solid 1px lightgray;
}

.card .title {
    padding: 0 10px;
    font-weight: 700;
}


.card .rating {
    padding: 0 10px;
    font-weight: 200;
    color: darkgray;
    font-size: smaller;
}

.card .price {
    padding: 0 10px;
    font-weight: 400;
    color: rgb(80, 80, 80);
    font-size: medium;
}

.card .buttons {
    display: grid;
    align-self: end;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.card .buttons .buy-now {
    position: relative;
    background-color: #1FAB89;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.card .buttons .add-to-cart {
    position: relative;
    background-color: #FCE38A;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.card .buttons button:after {
    content: "";
    background: #ffffff7e;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.card .buttons button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.cart {
    width: inherit;
    margin: auto;
    display: grid;
    padding: 20px 20px;
    grid-template-columns: 1fr 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    column-gap: 30px;
}

.orders {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-items: center;
}

.orders .row  {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 30px 1fr 100px 100px 100px 30px;
    column-gap: 25px;
}

.orders .head {
    font-weight: bold;
}

.orders .row > div {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.orders .head > div {
    background: #1FAB89;
    color: white;
}

.orders .image {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.orders .quantity {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.orders .quantity button {
    height: 25px;
    width: 25px;
    font-weight: 700;
    margin-left: 10px;
    border-style: none;
    background-color: #6900FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.orders button.delete {
    position: relative;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    font-weight: 700;
    margin-left: 10px;
    border-style: none;
    background-color: #F8485E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.cart .sidebar {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 20px;
    padding: 0px 20px;
    border-left: solid 1px lightgray;
}

.cart .sidebar .total-amount {
    font-weight: 600;
    font-size: larger;
}

.warning {
    background-color: #F8485E;
    border-radius: 10px;
    padding: 10px;
    color: white;
}